*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --Laranja-total-1-hex: #F28705;
    --Laranja-total-2-hex: #733702;
    --Laranja-total-3-hex: #562600;
    --Laranja-total-4-hex: #260B01;
    --Laranja-total-5-hex: #F2F2F2;    
}

.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    color: var(--Laranja-total-5-hex);
    align-items: center;
    border-bottom: 4px solid #F28705;
}
h1{
    text-transform: uppercase;
    font-size: 1.8em;
}
header div p{
    padding-left: 38px;
    font-size: 1.2em;
}
nav ul{
    display: flex;
    list-style: none;
}
nav > ul > li{
    padding-left: 18px;
}
a{
    text-decoration: none;
    color: var(--Laranja-total-5-hex);
    font-size: 1.4em;
    text-transform: capitalize;
    transition-property: all;
    transition-duration: 1.8s;
}
a:hover{
    border-bottom: 1px solid var(--Laranja-total-5-hex);
    font-size: 1.6em;
    transition-property: all;
    transition-duration: 1.8s;
    transition-timing-function: linear;
}
main{
    margin: 90px 10%;
}

.about-me h2, .projetos h2{
    font-size: 2.8em;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-me p{
    font-size: 1.8em;
    text-align: justify;
    text-indent: 1em;
    margin-bottom: 28px;
}
/* .accordion{
    max-width: 100%;
} */
.accordion .contentBx{
    position: relative;
    margin-bottom: 20px;
}
.accordion .contentBx .label{
    position: relative;
    padding: 18px;
    border-radius: 10px 10px 0 0;
    background-color: #e2e2e2;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.4em;
    border-bottom: 3px solid #F28705;
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 20%;
    right: 20px;
    font-size: 1.5em;
}
.accordion .contentBx.active .label::before{
    content: '-';
}
.accordion .contentBx .content{
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .content{
    height: fit-content;
    max-height: 300px;
    padding: 10px;
    background-color: #e2e2e2;
}
.accordion .contentBx.active .content p{
    display: inline-flex;
    width: 48%;
    margin-bottom: 8px;
    padding: 0;
    overflow-wrap: break-word;
    text-indent: 0;
    text-align: left;
}
.accordion .contentBx.active .content p::before{
    content: '-';
    padding-right: 10px;
}

.projetos{
    margin: 10%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 30%;
    height: 480px;
    margin-bottom: 10px;
    border: 1px solid red;
}
.card-img{
    background-color: #000;
    height: 40%;
}
.card-tecs{
    background-color: #F28705;
    height: 15%;
}
