*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #13131F;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 160, 36);
    border-radius: 10px;
}

section h2{
    font-size: 2.7rem;
    color: #fff;
    margin-bottom: 4rem;
}

/* cabeçalho */
#header{
    background-color: #13131F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 12%;
    border-bottom: 2px solid rgb(255, 160, 36);
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 25;
}

#menu-mobile{
    display: none;
}

/* Titulo */
#title{
    text-transform: uppercase;
    cursor: pointer;
    flex: 33%;
    font-size: 1.6rem;
}

#title a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
/* Fim do titulo */

/* Navbar */
#navbar{
    flex: 33%;
}

#navbar ul{
    display: flex;
    gap: 1.4rem;
}



#navbar-mobile,#menu-mobile-close{
    display: none;
}

.navbar-ativo{
    display: block !important;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(2, 2, 2, 0.8);
    top: 10%;
}

#navbar-mobile .nav-item{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 1.4rem;
}

.nav-item{
    list-style: none;
    font-size: 1rem;
    transition: 0.5s;
}

.nav-item:hover{
    transform: scale(1.2);
    border-bottom: 1px solid #fff;
    transition: all 2s;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
}

/* Fim do navbar */

/* Modo dark */
#dark-mode{
    flex: 33%;
    text-align: right;
}

input[type="checkbox"]{
    display: none;
}

.bi{
    color: #fff;
    cursor: pointer;
}

.bi-sun{
    display: none;
}
/* Fim do modo dark */
/* Fim do cabeçalho */

/* Conteudo principal */
#main{
    background-color: #13131F;
    height: 90vh;
    padding: 12%;
    display: flex;
    align-items: center;
}

/* titulo principal */
#title-main{
    color: #fff;
    flex: 50%;
    font-size: 1.8rem;
}

#title-main h1 span{
    color: rgb(255, 160, 36);
}

#title-main p{
    color: #fff7;
    font-size: 1.5rem;
}

.btn{
    width: 10rem;
    padding: 0.4rem;
    border-radius: 0.9rem;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn-cv{
    background-color: rgb(255, 160, 36);
    border-color: transparent;
    transition: 0.7s;
    color: #000;
}

.btn-cv:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(255, 160, 36);
    transition: all 0.8s;
}

.btn-contact{
    background-color: transparent;
    color: #fff !important;
    border-color: rgb(255, 160, 36);
    transition: 0.7s;
}

.btn-contact:hover{
    background-color: rgb(255, 160, 36);
    color: #000;
    border-color: transparent;
    transition: all 0.8s;
}

#img-main{
    /* width: 20rem; */
    max-width: 30%;
    border: .3rem solid #F28705;
    border-radius: 100%;
}
/* Fim do titulo principal */


/* Sobre mim */
#about{
    background-color: #13131F;
    padding: 12%;
    text-align: center;
    padding-bottom: 5rem;
}

#about p{
    color: #fff7;
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
/* Fim do sobre mim */

/* Habilidades */
#skills{
    background-color: #13131F;
    text-align: center;
    padding: 12%;
    padding-bottom: 5rem;
}

#skills ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.skill{
    list-style: none;
    color: rgb(255, 160, 36);
    background-color: #2d2d3b;
    width: 8.5rem;
    height: 8.5rem;
    border-bottom: 4px solid rgb(255, 160, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1rem;
    transition: 0.6s;
}

.skill:hover{
    transform: scale(1.2,1.2);
    transition: transform 0.6s linear;
}

.skill-img{
    width: 4rem;
}

#projects{
    background-color: #13131F;
    padding: 12%;
    padding-bottom: 12rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

#projects h2{
    text-align: center;
    flex: 100%;
}

.card-project{
    width: 45%;
    height: 16rem;
    cursor: pointer;
    transition: 0.6s;
    background-image: url("../img/nlw-copa.jpg");
    background-size: 100%;
    background-color: #2d2d3b;;
    background-repeat: no-repeat;
    opacity: .8;
    border-radius: 0 0 1rem 1rem;
    z-index: 1;
}


.card-project:hover{
    transform: scale(1.2,1.2);
    transition: 0.6s;
}

.card-body{
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: .2rem solid #F28705;
}

.card-body p{
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: .8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.icon-skill img{
    width: 1.8rem;
}

.card-footer{
    background-color: #2d2d3b;
    height: 18%;
    text-align: right;
    padding: .6rem 1rem;
    border-radius: 0 0 1rem 1rem;
}

.btn-more{
    border: none;
    border-bottom: .2rem solid #F28705;
    color: #F28705;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.6s;
}

.btn-more:hover{
    transform: scale(1.2,1.2);
    transition: 0.6s;
}

#fade, .modal{
    transition: 0.6s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #13131F;
    z-index: 10;
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.hide{
    opacity: 0 !important;
    pointer-events: none !important;
}

.img-modal{
    flex: calc(50% - 2rem);
}

.img-modal img{
    width: 100%;
}

.texts-modal{
    flex: calc(50% - 2rem);
}

.header-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header-text h3{
    font-size: 2rem;
    color: #F28705;
    text-transform: uppercase;
}

.close-modal{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.close-modal img{
    width: 1.6rem;
}

.modal-paragrafo{
    color: #fff7;
    font-size: 1.1rem;
    overflow-y: scroll;
    text-overflow: ellipsis;
    height:18rem;
}

.btn-modal a{
    background-color: #F28705;
    border: none;
    cursor: pointer;
    width: 10rem;
    padding: .6rem 1rem;
    border-radius: 1rem;
    margin-right: .8rem;
    font-size: .9rem;
    font-weight: bolder;
    transition: 0.6s;
    text-decoration: none;
    color: #000;
}

.btn-modal a:hover{
    background-color: transparent;
    color: #fff !important;
    border: 1px solid rgb(255, 160, 36);
    transition: all 0.8s;
}
/* RODAPÉ */
footer{
    background-color: #13131F;
    height: max-content;
    width: 100%;
    border-top: 4px solid #F28705;
}
.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content-footer h2{
    flex: 100%;
    margin: 20px;
    text-align: center;
    color: #fff;
    font-size: 2.7rem;
}

.contacts{
    max-width: 20rem;
}

.contacts a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 2s linear;
    margin: 40px 0;
    text-decoration: none;
    color: #fffc;
}
.contact-img{
    border-radius: 100%;
    padding: 5px;
    transition: all 2s linear;
}
.contacts small{
    color: #fff5;
}
#email-contact{
    border: 4px solid #e72828;
}
#email-contact:hover{
    background-color: #e72828;
    transition: all 1s linear;
}
#whatsapp-contact{
    border: 4px solid #29a71a;
}
#whatsapp-contact:hover{
    background-color: #29a71a;
    transition: all 1s linear;
}
#linkedin-contact{
    border: 4px solid #007ab9;
}
#linkedin-contact:hover{
    background-color: #007ab9;
    transition: all 1s linear;
}
#github-contact{
    border: 4px solid #5c6bc0;
}
#github-contact:hover{
    background-color: #5c6bc0;
    transition: all 1s linear;
}
/* FIM DO RODAPÉ */


/* MODO LIGHT */

.light{
    background-color: #eee !important;
    color: #000 !important;
    transition: 0.3s !important;
}

.btn-cv.light{
    background-color: rgb(255, 160, 36) !important;
}

.btn-cv.light:hover,
.btn-repositorio:hover{
    background-color: transparent !important;
    color: #000 !important;
    border: 1px solid rgb(255, 160, 36) !important;
}

.btn-contact.light{
    background-color: transparent !important;
    color: #000 !important;
    border-color: rgb(255, 160, 36) !important;
    transition: 0.7s !important;
}

.btn-contact.light:hover{
    background-color: rgb(255, 160, 36)  !important;
    color: #000 !important;
    border-color: transparent !important;
    transition: all 0.8s !important;
}

.skill.light{
    background-color: #ccc !important;    
}

.card-project.light
,.card-footer.light{
    background-color: #ccc !important;
    opacity: 1;
}

.card-body p.light{
    background-color: transparent !important;
    color: #F28705 !important;
    font-size: 2rem !important;
    font-weight: 900 !important;
}

.bi-sun.light{
    display: block;
}

.bi-moon.light{
    display: none;
}

.btn-contact a.light{
    color: #000;
}

@media only screen and (max-width: 1000px){
    #projects{
        flex-direction: column;
    }

    .card-project{
        width: 100%;
    }
}

@media only screen and (max-width: 750px){   
    #header, #main,#about,#skills,#projects,#footer{
        padding: 5%;
    } 
    #menu-mobile{
        display: block;
        width: 1.6rem;
        margin-right: 3rem;
        margin-top: .6rem;
        cursor: pointer;
    }

    #title{
        text-align: center;
    }

    #navbar{
        display: none;
    }

    #img-main{
        display: none;
    }
}